/* Code background image w/ blur */ 
body {
    background-image: url("../img/code.jpg");
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    display: block;
    background-position: center;
    background-size: cover;
}

/* title-div */ 
.title-div {
    text-align: center;
    color: #fff;
    background-color: #333;
    opacity: 0.95;
    margin: 0 50px 10px 50px;
    border-style: solid 1px;
    border-radius: 15px;
}

.title-div h3 {
    padding-top: 15px;
}

.title-div p {
    margin: 10px 150px;
}

.title-div #start-btn {
    margin-bottom: 15px;
}


/* Quiz Cards */
.card {
    font-size: 1.3em;
    color: #fff;
}

.card #status-card {
    margin-top: -10px;
    margin-bottom: -30px;
}

.card #answer-buttons button {
    /* text-align: left; */
    margin: 10px 5px;
}

.card-title #question-timer li {
    display: inline-flex;
    list-style: none;
}

.card-title #question-timer #score-text, #time-text  {
    float: right;
    font-weight: 500;
}

/* the buttons were 2% too long on the right edge ;) */
.card #answer-buttons .btn-lg {
    width: 98%;
}


/* High Score & Clear sidebars */ 

.card #score-list {
    text-align: center;
    list-style: none;
    margin-top: 10px;
    margin-left: -50px;
}

.card .clear-text {
    text-align: center;
    list-style: none;
    margin-top: 10px;
}

.card #clear-button, .card #restart-button {
    margin-top: -10px;
    font-size: 0.8em;
    text-align: center;
}